In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataframe = pd.read_csv('train.csv')
dataframe = dataframe.drop(columns = ["PassengerId","Name","Ticket","Cabin","Embarked","Fare"])
test = pd.read_csv('test.csv')
passengerid = test.iloc[:,0].values
test = test.drop(columns = ["PassengerId","Name","Ticket","Cabin","Embarked","Fare"])
test.head()

   Pclass     Sex   Age  SibSp  Parch
0       3    male  34.5      0      0
1       3  female  47.0      1      0
2       2    male  62.0      0      0
3       3    male  27.0      0      0
4       3  female  22.0      1      1

In [3]:
X = dataframe.iloc[: ,1:].values
y = dataframe.iloc[: ,0].values
test = test.iloc[:,:].values

In [4]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(missing_values = np.nan, strategy = "most_frequent")
si.fit(X)
X = si.transform(X)
si_test = SimpleImputer(missing_values = np.nan, strategy = "most_frequent")
si_test.fit(test)
test = si_test.transform(test)
X

array([[3, 'male', 22.0, 1, 0],
       [1, 'female', 38.0, 1, 0],
       [3, 'female', 26.0, 0, 0],
       ...,
       [3, 'female', 24.0, 1, 2],
       [1, 'male', 26.0, 0, 0],
       [3, 'male', 32.0, 0, 0]], dtype=object)

In [5]:
test

array([[3, 'male', 34.5, 0, 0],
       [3, 'female', 47.0, 1, 0],
       [2, 'male', 62.0, 0, 0],
       ...,
       [3, 'male', 38.5, 0, 0],
       [3, 'male', 21.0, 0, 0],
       [3, 'male', 21.0, 1, 1]], dtype=object)

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:,1] = le.fit_transform(X[:,1])
X[:,-1] = le.fit_transform(X[:,-1])
test[:,1] = le.fit_transform(test[:,1])
test[:,-1] = le.fit_transform(test[:,-1])

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)
test = sc.transform(test)

In [8]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [9]:
survived = classifier.predict(test)
df = pd.read_csv('gender_submission.csv')
df["Survived"] = survived
df.to_csv("gender_submission.csv",index = False)

In [10]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(classifier.predict(X),y)

0.8552188552188552

Test Data Score obtained : 0.782